.container {
  padding: 0;
  width: 70%;
  margin: auto;
}

.navbar {
  display: flex;
  padding: 1.5em 0 1em 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 1em;
  text-align: center;
}

.header {
  margin: 0 5px 0 5px;
  padding: 0;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

h1 {
  text-align: center;
  margin: 20px auto 20px auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(241, 241, 241);
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: none;
  color: black;
}

button {
  text-decoration: none;
}

.wrapper {
  padding-top: 1em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 1em;
  grid-auto-rows: 300px;
  background-color: rgb(241, 241, 241);
}

#details p {
  text-align: left;
}
.firstColumn {
  display: flex;
  width: 40%;
  flex-direction: column;
}
.secondColumn {
  width: 60%;
  padding: 10px;
}
.firstRow {
  display: inline;
  padding: 10px;
}
.secondRow {
  display: inline;
  padding-top: 20px;
}
.favouritesButton {
  background-color: rgb(0, 132, 255);
  color: #fff;
  display: flex;
  padding: 3%;
  cursor: pointer;
  border-radius: 5%;
}
.favouritesButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
img.detailImage {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 3%;
}
.detailPage {
  padding: 15px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin: 20px 5px 0 5px;
}
.detailHeader {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 20px;
}
.return {
  margin-top: 20px;
  margin-bottom: 20px;
}

h3 {
  color: blue;
}
.row {
}
